## Important Note
## Please ensure `composio-composio-secret` is present. If you have changed the name, then please update `secret.name` and `existingSecret` in the Temporal configuration.
# Disable Weaviate installation. 
weaviate:
  enabled: false

# NOTE: Replace the <DATABASE_HOST>, ensure user is superuser. 
databaseMigration: 
  enabled: true
  host: "<DATABASE_HOST>"
  port: "5432"
  user: "postgres"

# Redis Configuration
# NOTE: Our internal Redis doesn't come with production support.
# We recommend using external Redis for production environments.
# externalRedis:
  # -- Enable external Redis. Set to true to use an external Redis instance
  # enabled: false
  # -- Secret name containing Redis connection URL
  # secretRef: "composio-composio-secrets"
  # -- Key name in the secret containing the Redis URL
  # key: "REDIS_URL"

  # Disable Temporal installation. NOTE: Ensure temporal.server.enabled is true
features:
  temporal: false

# Configure below temporal values if features.temporal is enabled
# temporal:
#   server:
#     enabled: true
#     config:
#       persistence:
#         default:
#           driver: "sql"
#           sql:
#             host: "<DATABASE_HOST>"
#             port: 5432
#             database: "temporal"
#             user: "postgres"
#             existingSecret: "composio-composio-secrets"
            # tls:
            #   enabled: true
            #   disableHostVerification: true
            #   caFile: /etc/certs/rds-ca.crt
        # visibility:
        #   sql:
        #     host: "<DATABASE_HOST>"
        #     port: 5432
        #     database: "temporal_visibility"
        #     user: "postgres"
        #     existingSecret: "composio-composio-secrets"
            # tls:
            #   enabled: true
            #   disableHostVerification: true
            #   caFile: /etc/certs/rds-ca.crt
  # admintools:
  #   additionalVolumes:
  #     - name: temporal-db-tls
  #       secret:
  #         secretName: temporal-db-tls-secret
  #   additionalVolumeMounts:
  #     - name: temporal-db-tls
  #       mountPath: /etc/certs
  #       readOnly: true
