name: Promote from Unstable
on:
  workflow_dispatch:
    inputs:
      channel:
        description: 'Target channel to promote to from Unstable'
        required: true
        default: 'beta'
        type: choice
        options:
          - stable
          - beta
          - unstable
          - nightly
permissions:
  contents: write
jobs:
  promote-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Replicated CLI
        run: |
          version=$(curl -s https://api.github.com/repos/replicatedhq/replicated/releases/latest \
            | grep -m1 -Po '"tag_name":\s*"v\K[^"]+')
          curl -Ls \
            "https://github.com/replicatedhq/replicated/releases/download/v${version}/replicated_${version}_linux_amd64.tar.gz" \
            -o replicated.tar.gz
          tar xf replicated.tar.gz replicated && rm replicated.tar.gz
          sudo mv replicated /usr/local/bin/replicated
          replicated version
      
      - name: Get latest sequence from Unstable
        id: get_sequence
        run: |
          # Get latest sequence and version from Unstable
          LATEST_SEQUENCE=$(replicated release ls | grep "Unstable" | head -n 1 | awk '{print $1}')
          CURRENT_VERSION=$(replicated channel ls | grep "Unstable" | awk '{print $NF}')
          CURRENT_VERSION_CHANNEL=$(replicated channel ls | grep -i "${{ inputs.channel }}" | awk '{print $NF}')
          NEW_APPVERSION=$(echo "$CURRENT_VERSION_CHANNEL" | awk -F. '{$NF = $NF + 1} 1' OFS=.)
          CHANNEL_ID=$(replicated channel ls | grep -i "${{ inputs.channel }}" | awk '{print $1}')
          echo "channel_id=$CHANNEL_ID" >> $GITHUB_OUTPUT
          echo "sequence=$LATEST_SEQUENCE" >> $GITHUB_OUTPUT
          echo "version=$NEW_APPVERSION" >> $GITHUB_OUTPUT
          echo "Promoting sequence $LATEST_SEQUENCE (version $CURRENT_VERSION) from Unstable to ${{ inputs.channel }}"
        env:
          REPLICATED_API_TOKEN: ${{ secrets.REPLICATED_API_TOKEN }}
          REPLICATED_APP: ${{ secrets.REPLICATED_APP }}
      
      - name: Promote from Unstable channel
        env:
          REPLICATED_APP: ${{ secrets.REPLICATED_APP }}
          REPLICATED_API_TOKEN: ${{ secrets.REPLICATED_API_TOKEN }}
        run: |
          set -e 
          replicated release promote ${{ steps.get_sequence.outputs.sequence }} ${{ steps.get_sequence.outputs.channel_id }} --version ${{ steps.get_sequence.outputs.version }}
